@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html, body, input, button, textarea{
	font-family: 'DM Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}


header{
	position: absolute;
	margin: 0;
	left: -30px;
	padding-bottom: 200px;
}

footer{

}

textarea, textarea:focus{
	width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
	font-size: 40px;
	border-width: 0px;
	resize: none;
	outline: 0 none;
	flex: 1 1 auto;
	height: auto;

}

li{
	padding: .5em;
}



.btn{
	margin-left: 5px 5px;
	padding: 10px 100px;
	border-radius: 50000px;
	cursor: pointer;
	transition: all 0.4s;
}

.circle{
	position: relative;
	top: 93%;
	left: 95%;
	justify-content: center;
	margin: 0;
	width: 2rem;
	height: 2rem;
	border-radius: 5rem;
	border-color: transparent;
	z-index: 2;
	transition: 0.2s all ease-in-out;
}

.circle:hover{
	transform: scale(1.05);
}

.btn:hover{
	transform: scale(1.05);
}

.btn-important{
	color: white;
	background-color: blue;
	border-color: transparent;
}
.btn-second{

	background-color: whitesmoke;
	border-color: blue;
}

ul,.text-center{

  display: flex;
  list-style: none;
  justify-content: center;

}

.container,h4{
	color: white;
	background-color: blue;
}

h4{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.father{
	display: grid;
	grid-template-columns: 2fr 2fr;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

#salida{
	color: white;
	margin: 2rem;
	padding: 2rem;
	height: 50%;
	background-color: blue;
	border-radius: 2rem;
	box-shadow: -13px 18px 10px -6px rgba(0, 0, 0, 0.25);
}



textarea::-webkit-scrollbar {
    width: 0.1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: blue;
  outline: transparent;
}


.p-1{
	padding: 1rem;
}
.p-2{
	padding: 2rem;
}
.p-3{
	padding: 4rem;
}
.p-4{
	padding: 8rem;
}

* {
	box-sizing: border-box;
}

.columns {
	float: left;
	width: 50%;
	padding: 0px 50px 0px 50px;
	min-height: 300px;
}
.columns-2 {
	justify-content: center;
	float: left;
	width: 50%;
	padding: 0px 100px 0px 100px;
	min-height: 300px;
}
.rows {
	padding-top: 50px;
}

.rows::after {
	content: "";
	display: table;
	clear: both;
}




@media screen and (max-width: 525px){
	textarea {
		height: auto;
		}

}
	


@media (max-width: 600px) {
	.btn {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.columns {
		width: 100%;
	}
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}